.login-view {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #fff url('@/assets/images/login/background_picture.png') no-repeat left / 80% 100%;
}


.login-header-container {
  width: 100%;
  height: 70px;
}


.login-body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 18rem;
  padding: 0 2rem;

  .login-show-picture,
  .login-container {
    display: inline-flex;
    min-width: 0;
  }

  .login-show-picture {
    justify-content: flex-end;
    align-items: center;

    .picture {
      width: 530px;
      height: 330px;
    }
  }
}


.login-footer-container {
  width: 100%;
  height: 50px;
  color: rgba(0, 0, 0, 0.6);

  .login-footer-context {
    font-size: 1rem;
    text-align: center;

    .login-footer-context-link {
      color: inherit;
      padding-left: .1875rem;

      &:hover {
        color: rgba(37, 186, 255, 0.97);
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .login-view {
    background: none;
    background-color: #fff;
  }

  .login-form-body {
    padding: 0;
    justify-content: center;
  }

  .login-show-picture {
    display: none !important; // 强制隐藏登录展示图片区域
  }

  .login-body {
    grid-template-columns: 1fr; // 调整为单列布局
    grid-gap: 0; // 移除列间距
  }
}