@use './index-root.scss' as *;

.login-form-body {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 5%;
  gap: 20px;
}

.login-form-container {
  width: 360px;
  height: auto;
  margin-bottom: 8%;
  overflow: hidden;

  .form-logo-title {
    margin-bottom: 20px;

    .form-logo {
      display: inline-flex;
      justify-content: center;
      width: 100%;
      height: 100px;

      .logo {
        width: 110px;
        height: 88%;
      }
    }

    .form-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      font-size: var(--global-font-size-xxxxlarge);
      color: $login-english-title-color;

      h2 {
        font-weight: bold;
        text-align: center;
      }
    }
  }

  :deep(.el-form) {
    &.login-form {
      width: 100%;
      height: auto;
      font-size: inherit;
      color: inherit;

      .el-form-item {
        width: 100%;
        margin-bottom: 22px;

        .el-form-item__label,
        .el-form-item__content {
          font-size: inherit;
        }

        .el-input {
          height: 40px;
          font-size: inherit;

          &.graph-validate-code-input {
            .el-input__wrapper {
              padding-right: 0;
            }

            .el-input__suffix {
              width: 110px;

              .el-input__suffix-inner {
                width: 100%;
                height: 100%;
              }

              .el-image {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                object-fit: cover;
                width: 100%;
                height: 100%;
                margin-right: 2px;
                cursor: pointer;
              }
            }
          }

          .el-input__wrapper {
            height: 100%;
            font-size: inherit;
          }
        }
      }

      .login-form-other {
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
        font-size: var(--global-font-size-small);
        margin-bottom: 8px;

        .remember-me,
        .forget-password {
          display: inline-flex;
          align-items: center;

          .el-checkbox {
            font-size: var(--global-font-size-small);

            .el-checkbox__input {
              width: var(--global-font-size);
              height: var(--global-font-size);

              .el-checkbox__inner {
                width: 100%;
                height: 100%;
              }
            }

            .el-checkbox__label {
              font-size: inherit;
            }
          }
        }

        .forget-password {
          justify-content: flex-end;

          a {
            display: inline-flex;
            align-items: center;
            color: #409eff;

            &:hover {
              color: #024f9c;
            }

            &:active {
              color: #7bb9f7;
            }
          }
        }
      }

      .login-form-submit {
        height: 40px;

        .el-form-item__content {
          justify-content: center;

          .submit {
            width: 100%;
            height: 100%;
            font-size: var(--global-font-size-large);
          }
        }
      }
    }
  }

  .other-login-pattern {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 30px 0;

    .other-login-pattern-btn {
      font-size: var(--global-font-size-small);
      padding: 8px 6.5%;
      margin: 0;
    }
  }

  .third-party-login {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 40px;

    .third-party-login-btn {
      width: 35px;
      height: 35px;
      font-size: var(--global-font-size-large) !important;
      border-radius: 50%;
      padding: 0;
      transition: all 0.3s ease-in-out;

      &:hover {
        width: 40px;
        height: 40px;
      }

      .iconfont {
        font-size: inherit;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .login-form-container {
    width: 300px;
  }

  .other-login-pattern {
    :deep(.other-login-pattern-btn) {
      padding: 8px 4% !important;
    }
  }

  .form-logo-title {
    .form-logo {
      height: 80px !important;

      .logo {
        width: 80px !important;
      }
    }

    .form-title {
      font-size: var(--global-font-size-xxlarge) !important;
    }
  }
}


@media screen and (max-width: 992px) {
  .login-form-container {
    width: 280px;
  }

  .form-logo-title {
    .form-logo {
      height: 65px !important;

      .logo {
        width: 65px !important;
      }
    }

    .form-title {
      font-size: var(--global-font-size-large) !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .other-login-pattern {
    :deep(.other-login-pattern-btn) {
      padding: 8px 3% !important;
    }
  }
}