.login-header-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.header-left,
.header-right {
  flex: 1 1 0;
  min-width: 0;
  min-height: 0;
  width: 100%;
  height: 100%;
}

.header-left {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 2%;

  .header-left-logo {
    width: 80px;
    height: 90%;
  }

  .header-left-title {
    font-size: var(--global-font-size-xxxxlarge);
    color: #3271BA;
    font-weight: bold;
    cursor: pointer;
  }
}

@media screen and (max-width: 992px) {

  .header-left-logo,
  .header-left-title {
    display: none;
  }
}