// 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体
html {
  background: white;
  color: black;
}

// 内外边距通常让各个浏览器样式的表现位置不同
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 要注意表单元素并不继承父级 font 的问题
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

input,
select,
textarea {
  font-size: 100%;
}

// 清除常用行内元素默认样式
b,
i,
s {
  font-style: normal;
}

// 图片跟随父级元素大小
img {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle;
}

// 去掉 table cell 的边距并让其边重合
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// ie bug：th 不继承 text-align
th {
  text-align: inherit;
}

// 去除默认边框
fieldset,
img {
  border: none;
}

// ie6 7 8(q) bug 显示为行内表现
iframe {
  display: block;
}

// 去掉 firefox 下此元素的边框
abbr,
acronym {
  border: none;
  font-variant: normal;
}

// 一致的 del 样式
del {
  text-decoration: line-through;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}

// 去掉列表前的标识，li 会继承
ol,
ul {
  list-style: none;
}

// 对齐是排版最重要的因素，别让什么都居中
caption,
th {
  text-align: left;
}

// 来自yahoo，让标题都自定义，适应多个系统应用
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}

q:before,
q:after {
  content: '';
}

// 统一上标和下标
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// 让链接在 hover 状态下不显示下划线
a:hover {
  text-decoration: none;
}

// 默认不显示下划线，保持页面简洁
ins,
a {
  text-decoration: none;
}

// 去除 ie6 & ie7 焦点点状线
a:focus,
*:focus {
  outline: none;
}

// 重置滚动条样式
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// 清除浮动
.clearfix {

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
    overflow: hidden;
  }

  zoom: 1; // for ie6 & ie7
}

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
}